link(rel='stylesheet', href='/stylesheets/banner.css')
<div class="banner">
  <div class="banner-list">
    <ul>
      <li><a href="#"><img src="https://images.gitbook.cn/d4e403a0-bf07-11e9-a174-dbdb3844a755?imageMogr2/thumbnail/1500x625!" alt="" /></a></li>
      <li><a href="#"><img src="https://images.gitbook.cn/d4e403a0-bf07-11e9-a174-dbdb3844a755?imageMogr2/thumbnail/1500x625!" alt="" /></a></li>
      <li><a href="#"><img src="https://images.gitbook.cn/d4e403a0-bf07-11e9-a174-dbdb3844a755?imageMogr2/thumbnail/1500x625!" alt="" /></a></li>
      <li><a href="#"><img src="https://images.gitbook.cn/d4e403a0-bf07-11e9-a174-dbdb3844a755?imageMogr2/thumbnail/1500x625!" alt="" /></a></li>
      <li><a href="#"><img src="https://images.gitbook.cn/d4e403a0-bf07-11e9-a174-dbdb3844a755?imageMogr2/thumbnail/1500x625!" alt="" /></a></li>
    </ul>
  </div>
  <div class="btn2 prev">&lt;</div>
  <div class="btn2 next">&gt;</div>
  <div class="banner-icon"></div>
</div>

script(src='/js/banner.js')