link(rel='stylesheet', href='/stylesheets/login.css')

#login
    .loginMin
        .loginMinBox
            .loginHead
                a(href="javascript:;" class="on") 登录
                a(href="javascript:;") 注册
            .loginCont
               div(class="loginBox")
                   input(type="text" class="loginUserName" placeholder="请输入登录手机号")
                   input(type="password" class="loginPassWord" placeholder="请输入密码")
                   div(class="tabs")
                       a(href="javascript:;") 欢迎来到前端俱乐部
                       a(href="javascript:;" class="lis") |
                       a(href="javascript:;") 找回密码
                   input(type="button" class="loginBtn" id="loginBtn" value="登录")
               div(class="register")
                   input(type="text" class="" placeholder="请输入登录手机号")
                   input(type="text" class="" placeholder="请输入密码")
                   div(class="tabs")
                       a(href="javascript:;") 欢迎来到前端俱乐部
                       a(href="javascript:;" class="lis") |
                       a(href="javascript:;") 找回密码
                   input(type="button" class="loginBtn" value="注册")

            .ts 第三方登录
            .loginFoot
                a(href="javascript:;" class="fa fa-weixin")
                a(href="javascript:;" class="fa fa-qq")
                a(href="javascript:;" class="fa fa-weibo")

script(src='/js/login.js')