
div(class="main-right")
    div(class="publish_box")
        div(class="publish_title")
            p 写点什么...
            p 成为创作者，发布内容
        a(class="publish_btn" href="/write") 开始创作
    div(class="right_ad_img")
        img(src="/images/ewm.jpg")
    div(class="right_type")
      div(class="type-title") 分类
      div(class="type-list")
        a(href="javascript:;") 
          img(class="type-icon" src="/images/icon.png") 
          p html
        a(href="javascript:;") 
          img(class="type-icon" src="/images/icon.png") 
          p html
        a(href="javascript:;") 
          img(class="type-icon" src="/images/icon.png") 
          p html
        a(href="javascript:;") 
          img(class="type-icon" src="/images/icon.png") 
          p html
        a(href="javascript:;") 
          img(class="type-icon" src="/images/icon.png") 
          p html