.main-right{
    width: 330px;
    margin-left: 20px;
}
.publish_box{
    padding: 40px 0;
    background: url("/images/bg.png") no-repeat #fff;
    background-size: 100%;
}
.publish_title{
    text-align: center;
    font-size: 16px;
    color: #222;
    font-weight: 500;
    margin-bottom: 20px;
}
.publish_title p{
    margin-bottom: 8px;
}
.publish_btn{
    display: block;
    width: 130px;
    height: 34px;
    line-height: 34px;
    margin: 0 auto;
    border-radius: 19px;
    border: 2px solid #ADD4FF;
    color: #007AFF;
    text-align: center;
    font-size: 14px;
}

.right_ad_img{
    margin-top: 15px;
    margin-bottom: 10px;
}
.right_ad_img img{
    width: 100%;
}
.right_type{
  background: #fff;
  
}
.type-title{
  line-height: 50px;
  text-align: center;
  line-height: 50px;
  color: #4a4a4a;
  font-size: 16px;
  border-bottom: 1px solid #dfdfdf;
  font-weight: 500;
}
.type-list{
  display: flex;
  flex-wrap:wrap;
}
.type-list a{
  display: block;
  width: 25%;
  padding: 20px 0;
  text-align: center;
  font-size: 0;
}
.type-list a p{
  color: #4a4a4a;
  font-size: 14px;
  margin-top: 5px;
}
.type-icon{
  width: 26px;
  height: 26px;
}